body{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; 
    }

h1{
    text-align: center;
}

body:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 15px salmon;
}

form{
    display: flex;
    flex-direction: column;
}

button{
    max-width: 100px;
    text-align: auto;
}
#result{
    text-align: center;
    color: rgb(11, 192, 150);
    padding-top: 20px;
}

label{
    padding-top: 10px;
}

input:hover{
    background-color: rgba(57, 43, 43, 0.325);
    color: white;
}